/* ESTILOS GENERALES */

/* Con el selector * afectas a todos los componentes */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primaryFont);
}

/* Componentes estructurales */
body {
	background: white;
	padding: 2px; 
	border: 1px groove;
	margin: 10px; 
}
header {
	background: #fffbb5;
	font-family: var(--secondaryFont) !important;
	color:  var(--grey);
	padding-top: 20px; 
}
main {
	padding: 5px; 
}

section{
	margin-bottom: 20px;
}

/* titles */
h1 {
	font-family: helvetica;
	font-size: 32px;
	color: rgb(250, 185, 54);
}

h2{
	font-family: helvetica;
	font-size: 25px;
	color: orange;
}

h3{
	font-family: helvetica;
	font-size: 25px;
	color: gray;
}

.title-container-center{
	display: flex;
	justify-content: center;
	padding: 15px;
}
.title-container-left{
	display: flex;
	justify-content: start;
	padding: 15px 10px;

}

/* List, ancles*/
ul, ol, li{
	list-style: none;
}

a, a:visited, a:link {
	color: var(--grey);
	text-decoration: none;
}
a:hover {
	color: var(--violet)
}

/* Fin estilos generales */

/* #menu{ ESTO TE DESBORDA EL CONTENIDO X ESO LO SAQUE
	display: flex;
} */
#menu ul{
	display: flex;
	flex-direction: right;
}
#menu ul li{
	padding: 5px;
}

#menu ul a {
	font-family: helvetida;
	color: gray;
	font-weight:400;
	font-size:15px;
	text-transform:uppercase;
	padding: 5px;
	letter-spacing:1px;
}

/* menu desplegable */
#menu ul li:hover ul{
	display: flex;
	flex-direction: column;
	
}
#menu ul ul {
	display:none;
	position: absolute;
	width: max-content;
	background:#eee;
}

#menu ul ul li{
	padding: 10px 5px;
}


/* Main */

.image-container{
	display: flex;
	width: 100%;
}
.image-container img{
	width: 100%;
}

.section-aporte, .section-adoptantes{
	display: flex;
	flex-direction: row;
}

.image-container img{
	margin: 5px;
}

.item {
	background: #777;
	width: 50%;
	/* height: 50px; */
}


/* footer */


footer {
	background:#a7fac4;
	border-radius: 10px;
	text-align:center;
	
}

.pie-pagina {
	font-size:  14px;
	color: gray;
}

.adoptados {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 1rem;
}
 
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
 
.item-a {
  grid-row: 1 / 3;
}
 
.item-b {
  grid-column: 3 / 5;
}
 
.item-c {
  grid-row: 2 / 4;
}
 
.item-d {
  grid-column: 3 / 5;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
  overflow: hidden;
 }

.image-containerIndex img{
    width: 400px;
	height: 300px;
	margin:0 auto;
	padding-bottom: 30px;
	flex-wrap: nowrap | wrap | wrap-reverse;
	
}

.image-containerIndex  {
	text-align: center;
}
.section-adoptantes p{
	width: 90%;
	margin: 0 auto;
}

/*Aca te dejo un ejemplo de transform mas simple*/
.historiaIndex img:hover{
	transform: scale(1.03);
	transform: rotate(5deg); /*esto lo podes sacar si no te gusta, en el archivo que te mande ahi mas cosas que podes implementar*/
}
.column {
	width: 100%;
  }
  
  @media (min-width: 600px) {
	.column {
	  width: 50%;
	}
  } 
  





@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

container {
    width: 750px;
}
container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


 /* {
background: rgb(255, 147, 4);
background: -moz-linear-gradient(84deg, rgb(255, 147, 4) 8%, rgb(255, 255, 27) 100%);
background: -webkit-linear-gradient(84deg, rgb(255, 147, 4) 8%, rgb(255, 255, 27) 100%);
background: -o-linear-gradient(84deg, rgb(255, 147, 4) 8%, rgb(255, 255, 27) 100%);
background: -ms-linear-gradient(84deg, rgb(255, 147, 4) 8%, rgb(255, 255, 27) 100%);
background: linear-gradient(174deg, rgb(255, 147, 4) 8%, rgb(255, 255, 27) 100%);

} */

container {
	padding: 20px 5px ;
}

caja {
	background: #025;
	height: 80px;
	width: 80px;
	margin: 20px;
	display: flex;
	color: orange;
	transition: transform 1s;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
}

<!-- Estilos Personalizados - Inicio -->
<style>
div.p-body {
 /* Color de fondo del formulario */
 background-color: #ffffff;
}

.p-optin div.p-header,
.p-optin .p-body button,
button.p-open {
 /* Color de fondo de encabezado y botón */
 background: #00AEE8;
 /* Color de texto de encabezado y botón */
 color: #384961;
}

.p-optin .p-body button:hover,
button.p-open:hover{
 /* Color hover de botón */
 background:  #00AEE8;
 opacity: 0.8;
}

.p-optin div.p-body p,
.p-optin div.p-field label span,
.p-optin .p-body .p-success {
 /* Color de texto del formulario */
 color: #696969;
}

.p-optin div.p-header {
 /* Imagen encabezado */
 /*
 background-image: url(https://...);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 height: 160px;
 background-color: #384961;
 */
}

@-webkit-keyframes movimiento{
from {-webkit-transform:translate(60%, 90%);}
to {-webkit-transform:translate(10%, 10%);}
}

@-webkit-keyframes gira{
from {-webkit-transform:skew(10deg,5deg);}
to {-webkit-transform:skew(30deg,15deg);}
}

@-webkit-keyframes rota{
from {-webkit-transform:rotate(10deg);}
to {-webkit-transform:rotate(40deg);}
}

@-webkit-keyframes escalar{
from {-webkit-transform:scale(1,1);}
to {-webkit-transform:scale(2,4);}
}



@media(max-width:800px){
	.section-adoptantes {
		flex-direction: column;
	}
	#menu ul {
		flex-wrap: wrap;
	}
	.image-containerIndex img {
		width: 100%;
	}
	h1, .h1 {
		font-size: 1.5rem;
		text-align: center;
		padding-bottom: 10px;
	}
}